{% extends 'base.html' %}
{% load static %}
{% block body %}
      <div class="main-wrap">
        <div class="cover_1 cover_sm">
          <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-7" data-aos="fade-up">
                  <h2 class="heading">Create Table </h2>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .cover_1 -->

        <div class="section" data-aos="fade-up">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-md-8  text-center">
                <h2 class="mb-3">Create table for your order</h2>
                <p class="lead">Enter the number at your table</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 p-5 form-wrap">

<b>{% block title %}Input Table Number to Create Order{% endblock %}<br><br></b>

<form method="post">
    {% csrf_token %}

    {% block content %}
    <form method="POST" class="form-group">
    <label for="tablenumber">Table Number: </label>
    <input id="tablenumber" type="text" name="tablenumber" maxlength="100" required><br><br>

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
{% endif %}


    <br><button type="submit" class="btn btn-success">Back to Order Page</button><br><br>
     </form>

    {% endblock %}
</form>

                  </script>
              </div>
            </div>
          </div>
        </div> <!-- .section -->



      </div>
            </div>
          </div>
        </div> <!-- .section -->




        </div> <!-- .section -->



      </div> <!-- .main-wrap -->

{% endblock body %}