{% extends 'base.html' %}
{% load static %}
{% block body %}
      <div class="main-wrap">
        <div class="cover_1 cover_sm">
          <div class="img_bg" style="background-image: url({% static 'site_static/img/restaurant_page.jpg' %})" data-stellar-background-ratio="0.5"></div>
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-7" data-aos="fade-up">
                  <h1 class="heading">Order Summary</h1>
<!--                  <p class="lead"> To make a reservation, please enter your information below.</p>-->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .cover_1 -->

        <div class="section" data-aos="fade-up">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-md-8  text-center">
                <h2 class="mb-3">Order Summary</h2>
<!--                <p class="lead">To make a reservation, please enter the date you would like your reservation for and select your desired reservation time. The date must be entered in the format YYYY-MM-DD.</p>-->
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 p-5 form-wrap">
                  
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8" data-aos="fade-up">

<ul>
    {% for menu_item in order_list %}
    <li>Item: {{ menu_item.item_name }}</li>
    Price: {{ menu_item.item_price }}

<form method="POST">
    {% csrf_token %}

    <div class="form-check">
        <input type="checkbox" id={{menu_item.item_name}} value="{{menu_item.item_name}}" name="items_removed">
        <label for="items_removed">Remove Item</label>
    </div>
        <!--input type="submit" name="item_removed" onClick="history.go(0)">Remove Item</input!-->
    <!--input type="submit" name="item_removed" onClick="history.go(0)">Remove Item</input!-->
    <button type="submit" class="btn btn-danger">Remove Selected Item</button>
    <br> <br> <br> <br>
</form>

    {% endfor %}


    <hr><br> <br> <br> <br>

    <p> Please input your table number before proceeding to checkout:</p>

    <input class="btn btn-group=" type="button" value="Click to add table number to order" onclick="document.location.href = '/website/create_table/{{ order_restaurant }}'">

    <br> <br>

    <form>
        <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
        <h4>Total Price: {{ order_list_price }} </h4>
          <button class="btn btn-success" type="button" onClick="payWithRave()">Pay Here</button>
      </form>
      <script>
          const publicKey = "FLWPUBK_TEST-704e72f07d64b9c742537a39fe0ef787-X";
    
          function payWithRave() {
              var x = getpaidSetup({
                  PBFPubKey: publicKey,
                  customer_email: "user@example.com",
                  amount: {{ order_list_price }},
                  customer_phone: "234099940409",
                  currency: "USD",
                  txref: "rave-123456",
                  custom_title: "eats.",
                  onclose: function() {},
                  callback: function(response) {
                      var txref = response.tx.txRef;
                      console.log("this is response returned after a charge", response);
                      if(
                          response.tx.chargeResponseCode == "00" ||
                          response.tx.chargeResponseCode == "0"
                      ) {
                          document.location.href = "successPage.html"
                            //redirect to success page
                      } else {
                          //redirect to failure page
                          document.location.href = "failure.html"
                      }
                      x.close();
                    }
                }); }
        </script>
</ul>

</div>
</div>

</div>
</div> <!-- .section -->





</div>
</div>
</div>
</div> <!-- .section -->




</div> <!-- .section -->



</div> <!-- .main-wrap -->

{% endblock body %}
