{% block title %}Create an Account{% endblock %}


<form method="post">
    {% csrf_token %}
    
    {% block content %}
    <form method="POST" class="form-group">
    <label for="restaurantname">Restaurant Name: </label>
    <input id="restaurantname" type="text" name="restaurantname" maxlength="100" required>

    <label for="username">username: </label>
    <input id="username" type="text" name="username" maxlength="100" required>

    <label for="password1">password: </label>
    <input id="password1" type="text" name="password1" maxlength="100" required>

    <label for="password2">verify password: </label>
    <input id="password2" type="text" name="password2" maxlength="100" required>

    <button type="submit" class="btn btn-success">Register</button>
    </form>
    {% endblock %}
</form>



