{% extends 'base_restaurant.html' %}
{% load static %}
{% block body %}
      <div class="main-wrap">
        <div class="cover_1 cover_sm">
          <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-7" data-aos="fade-up">
                  <h2 class="heading">Reservation Schedule</h2>
<!--                  <p class="lead"> Below is the current schedule of reservations for the next 7 days. </p>-->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .cover_1 -->

        <div class="section" data-aos="fade-up">
          <div class="container">
            <div class="row justify-content-center mb-5">
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10 p-5 form-wrap">



                <h1>Reservation Schedule</h1>


<script> d = new Date();
m = d.getMonth();
day_array = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
day_of_week = day_array[d.getDay()];
month_array = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
year = d.getFullYear();
day = d.getDate();
dates = (day_of_week + " " + month_array[m] + " " + day + ", " + year);
</script>

<!--<h5> <script> document.write("Today's date: " + dates); </script> </h5>-->
                  <h5>Showing schedule for {{mydate}}</h5>
                  <p> Enter a date to see the reservation schedule for that day. Dates must be entered in the form YYYY-MM-DD. </p>

                  <form action = "" method = "GET">
                  {% csrf_token %}
                    <form method="GET" class="form-group">

                      <label for="text">Date: </label>
                      <input id="text" type="text" name="date" maxlength="10" required>

                      <button onclick="reservation_list(request)">Search</button>
                </form>

                      <p>  <h4>Available Reservations:</h4> </p>
                      {% for reservation in reservation_list %}
                      {% if reservation.booked == False %}
                      <strong><p> Reservation Number: {{reservation.id}}</strong> </p>
                      <ul class="dashed">
                          <li>Table: {{ reservation.table_id }}</li>
                          <li>Number of people: {{ reservation.num_people }}</li>
                          <li> Time: {{ reservation.time }} </li>
                      </ul>
                      {% endif %}
                      {% endfor %}

                      <p>  <h4>Booked Reservations:</h4> </p>
                      {% for reservation in reservation_list %}
                      {% if reservation.booked == True %}
                      <strong> <p> Reservation Number: {{reservation.id}}</strong> </p>
                      <ul class="dashed">
                          <li>Table: {{ reservation.table_id }}</li>
                          <li>Number of people: {{ reservation.num_people }}</li>
                          <li> Time: {{ reservation.time }} </li>
                          <li>Name: {{reservation.name}}</li>
                          <li>Email: {{reservation.email}}</li>
                          <li>Phone: {{reservation.phone}}</li>
                      </ul>

                      {% endif %}
                      {% endfor %}





<p> </p>
<p>Type a reservation number in the box below to remove that reservation slot. </p>

<form action = "" method = "GET">
    <label for="text">Reservation Number: </label>
    <input id="text" type="text" name="id" maxlength="10" required>

    <button onclick="reservation_list(request)">Remove</button>
</form>


</div>
</div>
</div>
</div> <!-- .section -->





  </div>
</div>
</div>
</div> <!-- .section -->




</div> <!-- .section -->



</div> <!-- .main-wrap -->

{% endblock body %}



